<div class="container">
  <h1>Calcula las resistencias</h1>
  <p class="text-primary">Desarrollado por Carlos Alva</p>
  <div class="row">
      <div class="col-3 border a{{this.color1}}">-</div>
      <div class="col-3 border a{{this.color2}}">-</div>
      <div class="col-3 border a{{this.color3}}">-</div>
      <div class="col-3 border b{{this.tolerancia}}">Tolerancia</div>

    
    <div class="col-4">
      <h1>Primera banda</h1>
    </div>  
    <div class="col-4">
      <h1>Segunda banda</h1>
    </div>
    <div class="col-4">
      <h1>Tercera banda</h1>
    </div>

    <div class="col-4 ">

      <label for="">Color 1</label>
      <select name="color1" class="form-control" id="color1" [(ngModel)]="color1" >
        <option value="0">Negro</option>
        <option value="1">Café</option>
        <option value="2">Rojo</option>
        <option value="3">Naranja</option>
        <option value="4">Amarilo</option>
        <option value="5">Verde</option>
        <option value="6">Azul</option>
        <option value="7">Violeta</option>
        <option value="8">Gris</option>
        <option value="9">Blanco</option>
      </select>
    </div>
    <div class="col-4">
      <label for="">Color 2</label>
      <select name="color1" [(ngModel)]="color2" class="form-control" id="color1">
        <option value="0">Negro</option>
        <option value="1">Café</option>
        <option value="2">Rojo</option>
        <option value="3">Naranja</option>
        <option value="4">Amarilo</option>
        <option value="5">Verde</option>
        <option value="6">Azul</option>
        <option value="7">Violeta</option>
        <option value="8">Gris</option>
        <option value="9">Blanco</option>
      </select>
    </div>
    <div class="col-4">
      <label for="">Color 3</label>
      <select name="color3" [(ngModel)]="color3" class="form-control" id="color1">
        <option value="0">Negro</option>
        <option value="1">Café</option>
        <option value="2">Rojo</option>
        <option value="3">Naranja</option>
        <option value="4">Amarilo</option>
        <option value="5">Verde</option>
        <option value="6">Azul</option>
        <option value="7">Violeta</option>
        <option value="8">Gris</option>
        <option value="9">Blanco</option>
      </select>
    </div>
    <div class="col-6">
      <h2>Tolerencia</h2>
      <select class="form-control" [(ngModel)]='tolerancia' name="toleracia" id="">
        <option  value="5">Oro</option>
        <option value="10">Plata</option>
      </select>
    </div>
    <div class="col-6">
      <button class="btn btn-primary btn-lg mt-5" (click)="calcularResistencias()">Calcular resistencia</button>
    </div>
  </div>

  <div class="row bg-primary mt-5">
    <div class="col-12 mt-5 text-white">

      <h2>Resultados:  <span class="text-white">{{resultado}}</span> Ohms</h2>
      <h2>Resistencia Minima: {{minima}} </h2>       
      <h2>Resistencia Maxima: {{maxima}} </h2>       
    </div>
  </div>

</div>


